body{
    margin-top: 50px;
}

.navbar-default{
    background: white;
    border: 0;
    font-family: Poppins;
    font-size: 110%;
}

.home-footer footer{
    background-color:rgb(211, 211, 211);
    position: relative;
    top: 120px;
}
.game-footer footer{
    background-color:rgb(211, 211, 211);
    position: relative;
    top: 500px;
}

h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
}


/*#showcaseOne{
    border-top:#333 7px solid;
    border-bottom:#333 7px solid;
    width: 100%;
    padding: 500px;
    padding-top: 20px;
}*/


#showcaseTwo{
    background: lightskyblue;
}

#showcaseThree{
    background-color:#404040;
    color: #FFF;  
}

#About {
    font-family: Poppins;
    padding: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: gainsboro;
    
}

#About h1{
    size: 1000px;
}

#contact{
    padding-top: 40px;
    background:url(../img/image3.png);
    padding:40px;
    color:#000;
    font-family: Poppins;
    border-top:#333 7px solid;
    border-bottom:#333 7px solid;
  }
  
  footer{
    padding:30px;
  }

  #top{
      background: #FFF;
    }

   
  #navbar .nav-link{
      color: lightskyblue;
  }

  #top h1{
        font-weight: 200;
        margin: 0.4em 0;
        font-size: 3.5em;
        font-family: 'Montserrat', sans-serif;
    }
    #top .txt-rotate{
        font-family: 'Montserrat', sans-serif;
        color: lightskyblue;
    }
  #top h2{
      font-weight: 200;
      margin: 0.4em 0;
      font-size: 2em;
  }
  #top h4{
      font-weight: 50;
  }
